# General functions

### Data manipulations

In [2]:
import pandas as pd
import numpy as np

In [6]:
# pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)[source]¶
pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,include_lowest=True)

[(0.993, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.993, 3.0]]
Categories (3, interval[float64]): [(0.993, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [ ]:
# pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None)

In [7]:
#pandas.concat(objs: Union[Iterable[‘DataFrame’], Mapping[Label, ‘DataFrame’]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True') → ’DataFrame’[source]
#pandas.concat(objs: Union[Iterable[FrameOrSeries], Mapping[Label, FrameOrSeries]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True') → FrameOrSeriesUnion

In [12]:
# pandas.factorize(values, sort=False, na_sentinel=- 1, size_hint=None)
codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])
codes, uniques

(array([0, 0, 1, 2, 0], dtype=int64), array(['b', 'a', 'c'], dtype=object))

In [13]:
# pandas.unique

In [14]:
#pandas.isna
#pandas.notna

In [15]:
#pandas.to_numeric
s = pd.Series(['apple', '1.0', '2', -3])
pd.to_numeric(s, errors='ignore')

0    apple
1      1.0
2        2
3       -3
dtype: object

In [16]:
pd.to_numeric(s, errors='coerce')

0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

In [17]:
# pandas.to_datetime(arg: DatetimeScalar, errors: str = '...', dayfirst: bool = '...', yearfirst: bool = '...', utc: Optional[bool] = '...', format: Optional[str] = '...', exact: bool = '...', unit: Optional[str] = '...', infer_datetime_format: bool = '...', origin='...', cache: bool = '...') → Union[DatetimeScalar, ‘NaTType’][source]
# pandas.to_datetime(arg: ‘Series’, errors: str = '...', dayfirst: bool = '...', yearfirst: bool = '...', utc: Optional[bool] = '...', format: Optional[str] = '...', exact: bool = '...', unit: Optional[str] = '...', infer_datetime_format: bool = '...', origin='...', cache: bool = '...') → ’Series’
# pandas.to_datetime(arg: Union[List, Tuple], errors: str = '...', dayfirst: bool = '...', yearfirst: bool = '...', utc: Optional[bool] = '...', format: Optional[str] = '...', exact: bool = '...', unit: Optional[str] = '...', infer_datetime_format: bool = '...', origin='...', cache: bool = '...') → DatetimeIndex

In [18]:
#pandas.to_timedelta(arg, unit=None, errors='raise')

In [19]:
#pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

In [20]:
# pandas.eval(expr, parser='pandas', engine=None, truediv=<object object>, local_dict=None, global_dict=None, resolvers=(), level=0, target=None, inplace=False)
df = pd.DataFrame({"animal": ["dog", "pig"], "age": [10, 20]})

In [21]:
pd.eval("double_age = df.age * 2", target=df)

  animal  age  double_age
0    dog   10          20
1    pig   20          40

### Series

In [31]:
s = pd.Series([1,2,3,4,5,6,7])
s.shape

(7,)

In [32]:
s.nbytes/7

8.0

In [33]:
s.ndim

1

In [34]:
s.size

7

In [37]:
s.T

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [42]:
s.memory_usage(index=False)

56

In [98]:
s = pd.Series([1,2,3,4,5,np.nan,6,7])
s.hasnans

True

In [45]:
s.empty

False

In [46]:
s.dtypes

dtype('float64')

In [48]:
s.astype('int8',errors='ignore')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    7.0
dtype: float64

In [49]:
df = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O")),
        "c": pd.Series([True, False, np.nan], dtype=np.dtype("O")),
        "d": pd.Series(["h", "i", np.nan], dtype=np.dtype("O")),
        "e": pd.Series([10, np.nan, 20], dtype=np.dtype("float")),
        "f": pd.Series([np.nan, 100.5, 200], dtype=np.dtype("float")),
    }
)

In [51]:
df.dtypes

a      int32
b     object
c     object
d     object
e    float64
f    float64
dtype: object

In [58]:
df1 = df.copy(deep=False)

In [68]:
s.to_numpy(dtype='float64')

array([ 1.,  2.,  3.,  4.,  5., nan,  6.,  7.])

In [71]:
s.to_list()

[1.0, 2.0, 3.0, 4.0, 5.0, nan, 6.0, 7.0]

In [72]:
s.get(2)

3.0

In [81]:
for i in s:
    print(i)

1.0
2.0
3.0
4.0
5.0
nan
6.0
7.0

In [96]:
df = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O"))
    }
)
for k,i in df.items():
    print(k)
    print(i)

a
0    1
1    2
2    3
Name: a, dtype: int32
b
0    x
1    y
2    z
Name: b, dtype: object

In [99]:
s.is_unique

True

In [100]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    7.0
dtype: float64

In [101]:
s1 = s[s>3]

In [102]:
s1

3    4.0
4    5.0
6    6.0
7    7.0
dtype: float64

In [105]:
s.align(s1)

(0    1.0
 1    2.0
 2    3.0
 3    4.0
 4    5.0
 5    NaN
 6    6.0
 7    7.0
 dtype: float64,
 0    NaN
 1    NaN
 2    NaN
 3    4.0
 4    5.0
 5    NaN
 6    6.0
 7    7.0
 dtype: float64)

In [106]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [131]:
s = pd.Series([1,2,3])

In [128]:
s.reset_index()

   index  0
0      0  1
1      1  2
2      2  3

In [132]:
s.set_axis(['a','b','c'])

C:\Users\sudamire\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.
  """Entry point for launching an IPython kernel.

In [133]:
s

a    1
b    2
c    3
dtype: int64